<form action="/todos" method="post">
  <section class="new-form-wrapper">
    <div class="input-items">
      <div class="input-item">
        <label for="">餐廳名字 : </label>
        <input type="text" placeholder="please input name" name="name">
      </div>
      <div class="input-item">
        <label for="">餐廳英文名字 : </label>
        <input type="text" placeholder="please input name_en" name="name_en">
      </div>
      <div class="input-item">
        <label for="">餐廳照片(URL) : </label>
        <input type="text" placeholder="please input restaurant's imageURL" name="image">
      </div>
      <div class="input-item">
        <label for="">餐廳類別 : </label>
        <input type="text" placeholder="please input restaurant's category" name="category">
      </div>
      <div class="input-item">
        <label for="">餐廳評分 : </label>
        <input type="text" placeholder="please input restaurant's rating" name="rating">
      </div>
      <div class="input-item">
        <label for="">餐廳地址 : </label>
        <input type="text" placeholder="please input restaurant's location" name="location">
      </div>
      <div class="input-item">
        <label for="">餐廳電話 : </label>
        <input type="text" placeholder="please input restaurant's phone" name="phone">
      </div>
      <div class="input-item">
        <label for="">餐廳Google Maps(URL) : </label>
        <input type="text" placeholder="please input restaurant's google maps URL" name="google_map">
      </div>
      <div class="input-item">
        <label for="">餐廳描述 : </label>
        <input type="text" placeholder="please input restaurant's description" name="description">
      </div>
      <button type="submit">Create Restaurant</button>
    </div>
  </section>
</form>